<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Sidebar Dashboard </title>
  <link rel="stylesheet" href="style1.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>

  <!--Wrapper start-->
  <div class="wrapper">
    <!--header menu start--> 
    <div class="header">
      <div class="header-menu">
        <div class="title">Vishwakarma<span>  I</span></div>
        <div class="sidebar-btn">
          <i class="fas fa-bars"></i>
        </div>
        <ul>
          <li><a href="#"><i class="fas fa-search"></i></a></li>
          <li><a href="#"><i class="fas fa-bell"></i></a></li>
          <li><a href="Login_Page.html"><i class="fas fa-power-off"></i></a></li>      
          </ul>
      </div>
    </div>
  <!--header menu end -->
  <!--Sidebar strat-->
  <div class="sidebar">
    <div class="sidebar-menu">
      <center class="profile">
      <img src="2.jpeg" alt="">
      <p>ISHAN GIRGAONKAR</p>
      </center>
      <!--Dashboard-->
        <li class="item">
        <a href="#" class="menu-btn">
          <i class="fas fa-desktop"></i><span>Dashboard</span>  
        </a>
        </li>
        <!--Dashboard End-->
        <!--Academic Start-->
        <li class="item" id="profile">
         <a href="#profile" class="menu-btn">
          <i class="fas fa-chart-line"></i><span>Academics<i class="fas fa-chevron-down drop-down"></i></span>
         </a>
         <div class="sub-menu">
           <a href="HA.html"><i class="fas fa-tasks"></i><span>Home Assignment</span></a>
           <a href="#"><i class="fas fa-user"></i><span>Attendance</span></a>
          </div>
        </li>
        <!--Academics End-->
        <!--Account start-->
        <li class="item" id="messages">
          <a href="#messages" class="menu-btn">
           <i class="fas fa-user-circle"></i><span>Accounts<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu">
            <a href="#"><i class="fas fa-rupee-sign"></i><span>Pay Fess</span></a>
            <a href="#"><i class="fas fa-receipt"></i><span>Fee Receipt</span></a>
          </div>
        </li>
         <!--Account end-->
         <!--Asportal-->
        <li class="item" id="settings">
          <a href="#settings" class="menu-btn">
           <i class="fas fa-tasks"></i><span>Asportal<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu">
            <a href="#"><i class="fas fa-upload"></i><span>Assignment Submission</span></a>
          </div>
        </li>
         <!--Asportal End-->
         <!--Examinations-->
        <li class="item" id="exam">
          <a href="#exam" class="menu-btn">
           <i class="fa fa-university"></i><span>Examination<i class="fas fa-chevron-down drop-down"></i></span>
          </a>
          <div class="sub-menu">
            <a href="#"><i class="fas fa-poll-h"></i><span>Result</span></a>
          </div>
        </li>
         <!--Examination End-->
    </div>
  </div>
  <!--Sidebar end-->
  <!--main container start-->
  <div class="main-container">
    <div class="card">   
          <style>

              .center {
                    margin-left: auto;
                    margin-right: auto;
                    }
                    .p {
                        font-weight: bold;
                    }
             table {
          border-collapse: separate;
          border-spacing: 00;
        }
        th,
        td {
          padding: 10px 20px;
          
        }
        thead {
          background: #395870;
          color: #fff;
        }
        th {
          font-weight: bold;
        }
        tbody tr:nth-child(even) {
          background: #f0f0f2;
        }
        td {
          border-bottom: 1px solid #000000;
          border-right: 1px solid#080808;
          background-color: #f0f0f2;
        }
        td:first-child {
          border-left: 1px solid #0000;
        }
              </style>
        </head>
        
        
            <table class ="center">
                <Caption> <p>Student Home Assignment</p></Caption>
                  <tr>
                      <thead>
                            <th scope="col">Sr No</th>
                            <th scope="col">Course Code</th>
                            <th scope="col">Subject</th>
                            <th scope="col">Program</th>
                            <th scope="col">Year</th>
                            <th scope="col">Division</th>
                            <th scope="col">Action</th>
                           
                    </thead>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>IC3201</td>
                    <td>PROCESS INSTRUMENTATION</td>
                    <td>B-Tech INSTRUMENTATION AND CONTROL ENGINEERING</td>
                    <td>TY</td>
                    <td>IC-B</td>
                    <td><input type="file" name="file" id="file"></td>
                    
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>IC3203</td>
                    <td>MEASUREMENT SYSTEMS </td>
                    <td>B-Tech INSTRUMENTATION AND CONTROL ENGINEERING</td>
                    <td>TY</td>
                    <td>IC-B</td>
                    <td><input type="file" name="file" id="file"></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>IC3205</td>
                    <td>VISION BASED AUTOMATIONS</td>
                    <td>B-Tech INSTRUMENTATION AND CONTROL ENGINEERING</td>
                    <td>TY</td>
                    <td>IC-B</td>
                    <td><input type="file" name="file" id="file"></td>
                  </tr>
                  </table>
                

    </div>
  </div>
  <!--main container end-->
  </div>
  <!--Wrapper end-->

  <script type="text/javascript">
  $(document).ready(function(){
    $(".sidebar-btn").click(function(){
      $(".wrapper").toggleClass("collapse");
    });
  });
  </script>
</body>
</html>